# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env

# Node
node_modules/
dist/
build/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Runtime
logs/
*.log
tmp/
data/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
